<ul
  class="nav justify-content-center navbar-light"
  style="background-color: #e3f2fd"
>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="https://api.spaceflightnewsapi.net/v3/documentation"
      >Docs</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/news">News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About</a>
  </li>
</ul>
